$color__primary: #3a75ad;
$color__primary-highlight: #273a4c;
$color__focus-links: #67b6e5;
$color__secondary: #484848;
$color__title-active: #ffffff;
$color__text: #cccccc;
$color__hint-icons: #9e9e9e;
$color__highlight-bg: #727272;
$color__group-bg: #363636;
$color__sidebar-panel-bg: #282828;
$color__background: #1e1e1e;
$color__border: #0e0e0e;

$color__blue-1: #337af5;
$color__green-1: #66c562;
$color__yellow-1: #e7bd36;
$color__orange-1: #e18928;
$color__altium-gold: #a5915f;
$color__red-1: #db3e2e;
$color__pink-1: #db354a;
$color__purple-1: #4749be;